#cost {display:none;}
#waste {display:none;}
#mit {display:none;}
#doe {display:none;}
#dynamic {display:none;}
#info {display:none;}
#hover_legend {display:none;}

div.heading  {  
  position: absolute;
  top: 0px;
  left: 50px;
  width: 1400px;
  height: 200px;
}

div.heading h1 { text-align:center;}

div.intro {
  position:absolute;
  width:65%;
}
div.logo {
  position:absolute;
  top:25%;
  left:70%;
  width:30%;
  text-align:center;
}

div.logo img {width:80%; text-align: center;}

h3 { text-align:center;}

div.legendrow {
  position:absolute;
  top:230px;
  height:50px;
  width:100%;
}

div.slider {
    position: absolute;
    text-align: center;
    top: 0px;
    left: 0px;
    width: 25%;
    height:50px;
}

div.legend {
    position:absolute;
    top: 0px;
    left: 25%;
    width: 75%;
    height: 50px;
    text-align: center;
}


div#hover_legend {
    position: absolute;
    top: 370px;
    left: 350px;
    width: 800px;
    hieght: 350px;
    background-color: yellow;
    z-index: 1000;
}

div.chartrow {
  position:absolute;
  top:310px;
  height:590px;
  width:100%;
}


div.chart { 
  top: 180px;
  width:33%;
  height:530px;
}

div.chart#chart1 {
  left: 0%;
  float: left;
}    
div.chart#chart2 {
  left: 33%;
  float: left;
}    
div.chart#chart3 {
  left: 66%;
  float: left;
}    

div.footer
{
position:absolute;
top: 870px;
width:100%;
height:80px;
text-align:center;
}

body {
  overflow-y:scroll;
}

svg text {
    font-size: 15px;
}

text {
  font-size: 12px;
  pointer-events: none;
}

text.legend {
  font-size: 18px;
}

text.nv-axislabel {
  font-size: 18px;
  font-weight: 700;
}

text.parent {
  /* fill: #1f77b4; */
  font-size: 13px;
  font-weight:bold;
  fill: purple;
}

circle {
  fill: #ccc;
  stroke: #999;
  pointer-events: all;
}

circle.parent {
  fill: #1f77b4;
  stroke: steelblue;
}

/* circle.parent:hover {
  stroke: #ff7f0e;
  stroke-width: .5px;
}*/

circle.child {
  pointer-events: none;
}