#cost {display:none;}
#waste {display:none;}
#mit {display:none;}
#doe {display:none;}
#dynamic {display:none;}

div.heading  {  
  left:10%;  width:80%; height: 20%; position:absolute;
}
div.heading h1 { text-align:center;}

div.intro {
  width:50%;
  position:absolute;
}
div.logo {
  position:absolute;
  top:25%;
  left:50%;
  width:50%;
  text-align:center;
}

div.logo img { width:50% }

h3 { text-align:center;}

div.chartrow {
    text-align:center;
  position:absolute;
  top:25%;
  height:65%;
  width:100%;
}

div.chart { 
  position:initial;
  width:33%;
  height:85%;
  float:left;
 }

div.footer
{
position:absolute;
top: 85%;
width:100%;
height:5%;
text-align:center;
}

body {
  overflow-y:scroll;
}

text {
  font: 12px sans-serif;
}
