div { 
   position:absolute;
}

div.heading  {  
  left:10%;  width:80%; height: 20%;
}
div.heading h1 { text-align:center;}

div.charts   {
  top:25%;
  width:100%;
  height:50%;
}
div.charts h3 { text-align:center;}

div.charts div
{
  position:absolute;
  width:33%;
  height:100%;
}

div.chart1 { left:0%;  }
div.chart2 { left:33%; }
div.chart3 { left:66%; }

div.footer
{
position:absolute;
top: 80%;
width:100%;
height:15%;
text-align:center;
}

body {
  overflow-y:scroll;
}

text {
  font: 12px sans-serif;
}
